.c-conocenos-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  color: black;
}

.c-conocenos-info h1 {
  font-weight: 700;
  padding-top: 40px;
  color: var(--primaryColor);
  font-size: 2.5em;
}

.c-conocenos-info p {
  text-align: center;
  margin-left: 180px;
  margin-right: 180px;
}

.c-conocenos-services button {
  margin-top: 20px;
  height: 40px;
  width: 200px;
  background-color: var(--onActionColor);
  border: 0;
  border-radius: 6px;
  box-shadow: 5px 5px 10px var(--boxShadowColor);
}
