.c-comunicaciones-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-width: 350px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.593);
  color: var(--primaryColor);
  transition: all 0.5s;
}

.c-comunicaciones-card:hover {
  transform: scale(1.04);
  transition: all 0.5s;
}

.c-c-title {
  font-weight: 700;
}

.c-comunicaciones-card p {
  margin: 4px;
}

.c-comunicaciones-divider {
  width: 100%;
  height: 2px;
  background-color: var(--onActionColor);
}

.c-c-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  text-align: center;
}
