.c-comunicaciones-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 750px;
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;

  width: 100vw;
  background-color: var(--backgroundColor);
}

.c-comunicaciones-title div {
  width: 60%;
  height: 8px;
  background-color: var(--onActionColor);
}

.c-comunicaciones-cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  height: 100%;
}
