.c-principal-proyecto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  padding-bottom: 20px;
  width: 100vw;
  background-color: var(--backgroundColor);
  height: auto;
}

.c-principal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.top {
  display: flex;
  flex-direction: column;
}

.franja-amarilla-afuera {
  display: flex;
  justify-content: center;
  width: 100%;
}

.texto {
  display: flex;
  align-items: left;
  flex-direction: column;
  height: auto;
}
