.c-navlinks {
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
  padding-left: 30px;
  height: 45px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.linknav {
  text-decoration: none;
  color: white;
}
