:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Cambia el color de fondo de la barra de scroll */
::-webkit-scrollbar-track {
  background-color: var(--backgroundColor);
}

/* Cambia el color de la barra de scroll */
::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 5px;
}

/* Cambia el color de la barra de scroll cuando se pasa el ratón por encima */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--onActionColor);
}
